  <div class="content">

    <div Class="title">
        <h1>Welcome to SelectDay!</h1>
    </div>

    <mat-progress-bar class="progress_bar" color="#bbdefb" mode="determinate" value="{{progress}}"></mat-progress-bar>

    <div *ngIf="!submitedform" Class="content_login">
      <h4 Class="info_text">Enter your credentials to register</h4>

      <form name="formlogin" [formGroup]="formlogin" class="form_login" >

        <mat-form-field class="example-full-widt">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-widt">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
          <mat-error Class="label_error" *ngIf="formlogin.get('email')!.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-widt">
          <mat-label>Enter your phone number</mat-label>
          <input type="text" matInput formControlName="phone">
          <mat-error Class="label_error" *ngIf="formlogin.get('phone')!.hasError('required') && formlogin.get('phone')!.hasError('pattern')">
            Please enter a valid phone number
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="pass">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button class="button_form" mat-fab extended color="primary" [disabled]="!formlogin.valid" (click)="addProfile()">          
          Continue
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </form>

    </div>   

    <div *ngIf="submitedform" Class="content_verify">
      <h4 Class="info_text">We have sent an email to your mailbox</h4>
      <div class="content_instructions">
        <div Class="instructions">This action requires a mail verification, please check your mailbox and follow the instructions. Sent to:</div>
      <div class="content_email">{{this.profile.email}}</div>
      </div>
      

      <form name="formVerification" [formGroup]="formVerification" class="form_login">

        <mat-form-field class="example-full-widt">
          <mat-label>Verification code</mat-label>
          <input type="text" matInput formControlName="code">
          <mat-error Class="label_error" *ngIf="formVerification.get('code')!.hasError('incorrect')">
            Wrong code, please check email.
          </mat-error>
        </mat-form-field>

        <button class="button_form verify" mat-fab extended color="primary" [disabled]="!formVerification.valid" (click)="verify()">          
          Register your account
          <mat-icon>arrow_right_alt</mat-icon>
        </button>

        <button class="button_cancel verify" mat-fab extended color="primary" (click)="Back()">          
          Cancel / Back
          <mat-icon>cancel</mat-icon>
        </button>
      </form>

      

    </div>  
    
  </div>
  